$font-cario: 'Cairo', sans-serif;
$font-tap:'Tajawal', sans-serif;
$font-ibm:'IBM Plex Sans Arabic', sans-serif;
$backgroung-color:#f7f4e9; //background اللون الاساسي للموقع 
$nav-par-color:#EAE8DC;//navpar color
$primay-text-color:#FCFAF9;//text color for footer and dark things 
$primy-footer:#A25D39;//footer color 
$primy-text-all-color:#262220;//text color for all website 
$hover-color:#BA6C42;
$logo-color:#e59560;
